/* a TAG BTN STYLES */
.btn {
  border: none;
  display: flex;
  margin: 1rem 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  font-size: var(--txt-m);
  box-shadow: var(--shadow-s);
  border-radius: var(--round-s);
  background-color: var(--clr-primary);
}

.btn:hover {
  background-color: rgb(32, 32, 32);
}

.btn.full-width {
  width: 100%;
}

/* PAGE TITLE */
.page-title header h1 {
  font-size: var(--txt-2xl);
}

.page-title a {
  display: block;
  margin-top: 0.5rem;
  font-size: var(--txt-m);
}

/* OUTER INPUT WRAPPER */
.input-text-wrapper {
  position: relative;
}

/* TEXT INPUT WRAPPER */
.input-option-select {
  margin-top: 0.5rem;
  position: relative;
}

.input-text {
  width: 100%;
  padding: 1rem 0.5rem;
  position: relative;
  box-shadow: var(--shadow-s);
  border-radius: var(--round-s);
  outline-color: var(--clr-primary);
  border: solid 1px var(--clr-primary);
}

/* OPTIONS WRAPPER */
.option-select {
  right: 5px;
  top: 6px;
  gap: 0.3rem;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.option-select-btn {
  width: 45px;
  height: 35px;
  font-size: var(--txt-s);
  display: flex;
  align-items: center;
  border-radius: var(--round-s);
  justify-content: center;
  background-color: var(--clr-card);
  border: solid var(--clr-gray);
  cursor: pointer;
}

.unit-options {
  width: 100%;
  background-color: var(--clr-card);
  border-radius: var(--round-s);
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  display: none;
  z-index: 15;
}

.unit-options.open {
  display: flex;
}

.option {
  width: 100%;
  height: 30px;
  border-radius: var(--round-s);
  display: flex;
  align-items: center;
  font-size: var(--txt-s);
  justify-content: center;
  cursor: pointer;
}

.option:hover {
  background-color: var(--clr-gray);
}

.option.selected {
  background-color: var(--clr-gray);
}

.italic {
  font-style: italic;
}

/* TABLET  */
/* @media screen and (min-width: 500px) {
  .btn.full-width {
    width: 200px;
  }
} */
