.meal-plan-results {
  margin-top: 3rem;
}
.pdf-download-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: var(--clr-card);
  z-index: 30;
}
.meal-plan-result-summary {
  border: solid var(--clr-gray);
  border-radius: var(--round-s);
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 330px;
  padding: 1rem 1.25rem;
}

.meal-plan-result-summary .left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
}
.meal-plan-result-summary .right ul li {
  list-style: disc;
  margin-top: 0.75rem;
  font-size: var(--txt-s);
}

.meal-plan-result-summary p {
  font-size: 13px;
}
.meal-wrapper {
  margin-top: 2rem;
}
.meal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 500px;
}
.meal-header ul {
  display: flex;
  align-items: center;
  gap: 7px;
}
.meal-header ul li {
  font-size: var(--txt-s);
}
/* TABLET  */
@media screen and (min-width: 800px) {
  .pdf-download-wrapper {
    max-width: 330px;
    position: relative;
    padding: 0;
  }
}
